<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Erro 404</ion-title>
    <ion-icon name="bug" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="/assets/404.jpg" style="max-width:400px;display: block;margin: auto;"></ion-img>
  <h2>Oooops!</h2>
  <p>O conteúdo que você está acessando não existe.</p>
  <p>Use o menu lateral para navegar entre as páginas do site.</p>
</ion-content>