<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Logout / Sair</ion-title>
    <ion-icon name="log-out" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis error modi vel, iste culpa nam ullam quas saepe fugit.
  Quis, doloribus molestias asperiores pariatur cumque in veniam corrupti at tenetur.

</ion-content>