<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Perfil de Usuário</ion-title>
    <ion-icon name="person" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quisquam amet quia quibusdam dolores eos earum
  recusandae tempore rem adipisci illum placeat distinctio accusamus quaerat ipsa exercitationem, saepe aut perferendis.

</ion-content>