<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Faça Contato</ion-title>
    <ion-icon name="chatbubbles" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum recusandae temporibus voluptates id ducimus asperiores pariatur, porro maxime placeat provident quibusdam animi veniam harum deserunt commodi, nam, dolorum officia optio.
  
</ion-content>
