<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Sobre</ion-title>
    <ion-icon name="information-circle" slot="end" size="large" class="ion-margin"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque quasi nostrum similique nulla odio dolores voluptates minus assumenda minima consequatur ullam facere, alias aperiam delectus, ea dolore doloribus, magni quas.
</ion-content>
